[submodule "submodules/Spectacles-Sample"]
	path = submodules/Spectacles-Sample
	url = https://github.com/Snapchat/Spectacles-Sample
[submodule "submodules/effect"]
	path = submodules/effect
	url = https://github.com/effect-ts/effect
[submodule "submodules/confect"]
	path = submodules/confect
	url = https://github.com/rjdellecese/confect
[submodule "submodules/agensgraph"]
	path = submodules/agensgraph
	url = https://github.com/skaiworldwide-oss/agensgraph
[submodule "submodules/adk-python"]
	path = submodules/adk-python
	url = https://github.com/google/adk-python
[submodule "submodules/adk-js"]
	path = submodules/adk-js
	url = https://github.com/google/adk-js
[submodule "submodules/convex-backend"]
	path = submodules/convex-backend
	url = https://github.com/get-convex/convex-backend
[submodule "submodules/pybridge"]
	path = submodules/pybridge
	url = https://github.com/marcj/pybridge
[submodule "submodules/three.js"]
	path = submodules/three.js
	url = https://github.com/mrdoob/three.js
[submodule "submodules/langchain"]
	path = submodules/langchain
	url = https://github.com/langchain-ai/langchain
[submodule "submodules/langgraph"]
	path = submodules/langgraph
	url = https://github.com/langchain-ai/langgraph
[submodule "submodules/RxPY"]
	path = submodules/RxPY
	url = https://github.com/ReactiveX/RxPY
[submodule "submodules/mem0"]
	path = submodules/mem0
	url = https://github.com/mem0ai/mem0
[submodule "submodules/www-sacred"]
	path = submodules/www-sacred
	url = https://github.com/internet-development/www-sacred
[submodule "submodules/pixi-react"]
	path = submodules/pixi-react
	url = https://github.com/pixijs/pixi-react
[submodule "submodules/nats.js"]
	path = submodules/nats.js
	url = https://github.com/nats-io/nats.js
[submodule "receipts"]
	path = receipts
	url = https://github.com/tim-smart/receipts.git
[submodule "submodules/ "]
	path = "submodules/ "
	url = https://github.com/tim-smart/effect-atom
[submodule "submodules/effect-atom"]
	path = submodules/effect-atom
	url = https://github.com/tim-smart/effect-atom
[submodule "submodules/DOMListenerExtension"]
	path = submodules/DOMListenerExtension
	url = https://github.com/kdzwinel/DOMListenerExtension
[submodule "submodules/anime"]
	path = submodules/anime
	url = https://github.com/juliangarnier/anime
[submodule "submodules/frida-rust"]
	path = submodules/frida-rust
	url = https://github.com/frida/frida-rust
[submodule "submodules/gov"]
	path = submodules/gov
	url = git@github.com:creatifcoding/gov.git
[submodule "submodules/ciborium"]
	path = submodules/ciborium
	url = https://github.com/enarx/ciborium
[submodule "submodules/xstate"]
	path = submodules/xstate
	url = https://github.com/statelyai/xstate
[submodule "submodules/ag-grid"]
	path = submodules/ag-grid
	url = https://github.com/ag-grid/ag-grid.git
